/* Заголовки */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: bold;
  margin-top: 20px;
  margin-bottom: 10px;
}

/* Параграфы */
p {
  line-height: 1.6;
  margin-bottom: 20px;
}

/* Ссылки */
a {
  color: #007bff;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

/* Списки */
ul,
ol {
  margin-left: 20px;
  margin-bottom: 20px;
}

/* Элементы списка */
li {
  margin-bottom: 5px;
}

/* Жирный текст */
strong {
  font-weight: bold;
}

/* Курсив */
em {
  font-style: italic;
}

/* Код */
code {
  font-family: Monaco, Consolas, "Courier New", monospace;
  background-color: #f4f4f4;
  border: 1px solid #ccc;
  padding: 2px 4px;
}

/* Цитаты */
blockquote {
  font-style: italic;
  border-left: 2px solid #007bff;
  padding-left: 10px;
  margin: 10px 0;
}
